::-webkit-scrollbar {
    display: none;
}

.navbar-dark {
    background: linear-gradient(214deg, rgba(85, 110, 152, 1) 18%, rgba(0, 212, 255, 1) 90%);
}

.navbar-brand img {
    width: 60px;
    margin-left: 15px;
    border-radius: 15px;
}

.navbar-brand span {
    margin-left: 15px;
    color: black;
}

.justify-content-end {
    margin-right: 20px;
}

.slider {
    background: url('../img/slider1.png') no-repeat;
    height: 91vh;
    text-align: center;
    position: relative;
}

#descrip {
    color: #fff;
    position: relative;
    float: left;
    margin-top: 30%;
}

#descrip i {
    color: rgb(60, 201, 194);
}

.slider:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#aboutInv {
    background: rgb(85, 152, 143);
    background: linear-gradient(214deg, rgba(85, 152, 143, 0.7738445720084909) 44%, rgba(0, 255, 252, 0.8186624991793592) 90%);
}

.custom-shape-divider-top-1628879868 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628879868 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 229px;
}

.custom-shape-divider-top-1628879868 .shape-fill {
    fill: #A3CFE6;
}

.custom-shape-divider-bottom-1628880314 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628880314 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 229px;
}

.custom-shape-divider-bottom-1628880314 .shape-fill {
    fill: #A3CFE6;
}

#Ceo {
    padding-top: 100px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.ceocard {
    margin: 10px auto 60px;
}

@media (max-width: 1500px) {
    .slider {
        background: url('../img/slider1-1500w.png') no-repeat;
    }
}

@media (max-width: 1000px) {
    .slider {
        background: url('../img/slider1-1000w.png') no-repeat;
    }
}

@media (max-width: 600px) {
    #descrip {
        margin-top: 50%;
    }
    .slider {
        background: url('../img/slider1-600w.png') no-repeat;
    }
}

@media (max-width: 480px) {
    #descrip {
        margin-top: 70%;
    }
    .slider {
        background: url('../img/slider1-480w.png') no-repeat;
    }
    .ceocard {
        margin: 15px auto 15px;
    }
}