.navbar-dark {
    background: linear-gradient(214deg, rgba(85, 110, 152, 1) 18%, rgba(0, 212, 255, 1) 90%);
}

.navbar-brand img {
    width: 60px;
    margin-left: 15px;
    border-radius: 15px;
}

.navbar-brand span {
    margin-left: 15px;
    color: black;
}

.justify-content-end {
    margin-right: 20px;
}

.slider {
    background-image: url('../img/slider1.png');
    height: 89vh;
    text-align: center;
    position: relative;
}

.text-center h1 {
    color: #fff;
    position: relative;
    float: left;
    margin-top: 20%;
}

.text-center h1 i {
    color: rgb(60, 201, 194);
}

.slider:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 605px) {
    .navbar-brand span {
        width: 1px;
    }
}